@using WebUI.Models.ViewModels
@model ContentViewModel 

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/swfobject.js"></script>
<div>
    <hr />
    @Html.Partial("GetContent", Model)
</div>
<p>
    @Html.ActionLink("На главную", "Index")
</p>
